.profileEmbedded {
    background-color: white;
    box-shadow: 0px 1px 5px rgba(35, 89, 114, 0.1), 0px 0px 5px rgba(35, 89, 114, 0.1);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    min-height: 70vh;
}

.profileIcon {
    text-align: center;
    margin-top: 0em;
}

.profile--icon {
    margin-top: 0.2em;
    background-color: white;
    color: rgba(5, 5, 5, 0.7);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.profileName {
    /* margin-top: 0em; */
    color: rgb(35, 89, 114);
    font-weight: bold;
}

.icon--star {
    color: rgba(5, 5, 5, 0.7);
    margin-top: -2em;
}

@keyframes animateProfileCard {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profileCard {
    height: fit-content;
    width: 85%;
    margin-top: 1em;
    /* position: absolute; */
    margin-left: 7.5%;
    background-color: white;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    /* box-shadow: 0px 1px 5px rgba(5, 5, 5, 0.1), 0px 0px 5px rgba(5, 5, 5, 0.1); */
    border: 1px solid rgba(5, 5, 5, 0);
    box-shadow: 0px 0px 1px rgba(5, 5, 5, 0.1), 0px 0.5px 0.5px rgba(5, 5, 5, 0.1), 0px -0.5px 0px rgba(5, 5, 5, 0.1);
}

.profileCard--icon {
    margin-right: 0.5em;
}

.profileCard--icon2 {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}

.profileCard__title {
    color: rgba(35, 89, 114, 1);
    margin-top: 0em;
    margin-left: 1em;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 3em;
}

.profileCard__dropdown {
    margin-left: 1em;
    margin-top: 1.5em;
    animation-name: animateProfileCard;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.profileCard__dropdown__item {
    margin-top: -1.5em;
    font-weight: lighter;
    line-height: 1.5em;
}

.profileUserName {
    color: rgba(5, 5, 5, 1);
    margin-top: -0.8em;
}